:root {
  --primary-color: #004643;
  --second-color: #abd1c6;
  --line-color: #fffffe;
  --button-color: #f9bc60;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

.custom__btn {
  background: var(--button-color);
}
.custom__btn:hover {
  background-color: #d7a14e;
}

a {
  color: #000;
  transition: all 0.3s;
  font-size: 1.25rem;
}
a:hover {
  color: var(--button-color);
}
button:focus {
  outline: none;
}

header {
  background: var(--primary-color);
}
.navbar .cartShop {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.navbar .cartShop:hover {
  color: var(--primary-color);
}
#quantity {
  font-size: 0.7rem;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  background: red;
  color: #fff;
}
.products {
  background: var(--second-color);
}

.product__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.product__item {
  border: 1px solid #f1f1f1;
  overflow: hidden;
}
.product__item:hover {
  box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
}
.img__item {
  padding: 20px 20px 0 20px;
}
.img__item img {
  transform: translateY(0px);
  transition: all 0.5s;
}
.product__item:hover img {
  transform: translateY(-13px);
}
.product__desc p {
  margin-bottom: 0;
}
.product__desc strong {
  font-size: 1.25rem;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  backdrop-filter: blur(5px);
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--line-color);
  padding: 20px 15px;
  transform: translateX(100%);
  transition: all 0.5s;
}

.cart h2 {
  text-align: center;
}
.button__close {
  font-size: 1.75rem;
  position: absolute;
  top: 14px;
  right: 34px;
  cursor: pointer;
}
#toggle__cart {
  display: none;
}

#toggle__cart:checked ~ .overlay {
  display: block;
}

#toggle__cart:checked ~ .cart {
  transform: translateX(0);
}

.buttonQuantity {
  border-radius: 50%;
  width: 20px;
}
.customBtn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
}
.customBtn:hover {
  background-color: #e62b4a;
  color: #fff;
}
.final {
  position: absolute;
  bottom: 10%;
}
